@model Account
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Login</h1>
<div class="container">
<form method="post" >
    <div>
        <label asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
    </div>

    <input type="submit" value="Login" class="btn btn-success" />
</form>
</div>