
@{
    Layout = "_myLayout";

    ViewData["Title"] = "details";
}
@model Instructor


<div class="container p-5 m-5">
    <section class="mx-auto my-5" style="max-width: 23rem;">

        <div class="card">
            <div class="card-body d-flex flex-row">
                <img src="https://th.bing.com/th/id/OIP.5IEZPAedlgBT8IsEE2QglAHaGs?pid=ImgDet&rs=1" class="rounded-circle me-3" height="50px"
                     width="50px" alt="avatar" />
                <div>
                    <h5 class="card-title font-weight-bold mb-2 lead">@Model.Name</h5>
                    <p class="card-text"><i class="far fa-clock pe-2"></i>Salary &nbsp;  @Model.Salary</p>
                    <p class="card-text"><i class="far fa-clock pe-2"></i>Dept &nbsp;  @Model.Department?.Name</p>
                    <p class="card-text"><i class="far fa-clock pe-2"></i>Coruse &nbsp;  @Model.Course?.CourseName</p>



                </div>
            </div>
            <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                <img class="img-fluid" src="~/images/@Model.Img"
                     alt="Card image cap" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text collapse" id="collapseContent">
                    Recently, we added several exotic new dishes to our restaurant menu. They come from
                    countries such as Mexico, Argentina, and Spain. Come to us, have some wine and enjoy
                    our juicy meals from around the world.
                </p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse" href="/Instructor/index"
                       role="button" aria-expanded="false" aria-controls="collapseContent">Back to Instructors </a>
                    <div>
                        <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                           data-mdb-placement="top" title="Share this post"></i>
                        <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip" data-mdb-placement="top"
                           title="I like it"></i>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>